
.search-box {
  position: relative;
  display: flex;
  align-items: center;
  gap: 6px;
}

.search-box input {
  outline: none;
}

.search-suggest {
  position: absolute;
  top: calc(100% + 6px);
  left: 0;
  width: 220px;

  background: #ffffff;
  color: #000000;

  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  z-index: 9999;
  overflow: hidden;
}

.search-item {
  padding: 10px 12px;
  cursor: pointer;
  font-size: 14px;
  user-select: none;
}

.search-item strong {
  font-weight: 600;
}

.search-item:hover,
.search-item.active {
  background: #f1f3f4;
}

.search-no-result {
  padding: 10px 12px;
  font-size: 14px;
  color: #777777;
}



.notify-wrapper {
  position: relative;
}

/* Panel chính */
.fb-notify-panel {
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  width: 320px;

  background: #242526;
  color: #e4e6eb;

  border-radius: 10px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.4);
  z-index: 9999;
  overflow: hidden;
}

/* Header */
.fb-notify-header {
  padding: 12px;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 1px solid rgba(255,255,255,0.08);
}

/* Tabs */
.fb-notify-tabs {
  display: flex;
  gap: 8px;
  padding: 8px 12px;
}

.fb-notify-tabs button {
  border: none;
  padding: 6px 12px;
  border-radius: 20px;

  background: #3a3b3c;
  color: #e4e6eb;

  font-size: 13px;
  cursor: pointer;
}

.fb-notify-tabs button:hover {
  background: #4a4b4c;
}

.fb-notify-tabs .active {
  background: #2374e1;
}

/* Danh sách thông báo */
.fb-notify-list {
  max-height: 360px;
  overflow-y: auto;
}

/* Item */
.fb-notify-item {
  display: flex;
  gap: 10px;
  padding: 10px 12px;
  cursor: pointer;
}

.fb-notify-item:hover {
  background: #3a3b3c;
}

.fb-notify-item.unread {
  background: #263951;
}

/* Chấm xanh */
.fb-dot {
  width: 8px;
  height: 8px;
  background: #2374e1;
  border-radius: 50%;
  margin-top: 6px;
  flex-shrink: 0;
}

/* Nội dung */
.fb-notify-item div {
  line-height: 1.4;
}

.fb-time {
  font-size: 12px;
  color: #b0b3b8;
  margin-top: 2px;
}

.notify-badge {
  position: absolute;
  top: -6px;
  right: -6px;

  min-width: 18px;
  height: 18px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 11px;
  font-weight: 700;

  background: #e41e3f;
  color: #ffffff;

  border-radius: 999px;

  border: 2px solid #0b0f1a; 

  z-index: 10;
}
